<% provide(:page_title, 'About') %>

<div class="page-header">
    <h5 id="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / <%= yield(:page_title).upcase %> </h5>
</div>

<h1> About </h1>

<div class="row">
	<div class="col col-md-7" style="font-size:14px">
		<p style="font-size:20px">Hello and welcome!</p>
		<strong>About Henry:</strong>
		<p>Building things is one of Henry’s many passions, along with playing the violin, trying to play the mandolin, making art, running, and exploring what's around him. His home is Arlington, Virginia - where he has lived his entire life as the third oldest of six. He completed a bachelor's degree in electrical engineering at MIT, where he is currently pursuing a master’s degree as well.  In addition to electrical engineering, Henry loves learning about the worlds of mechanics and computer science.</p>
		<%= link_to "Resume", "Resumes/Henry_Resume.pdf", class: "btn btn-default", :target => "_blank" %> <br> <br>
		<strong>About Bibit:</strong>
		<p>Building things is also one of Bibit’s passions, along with running, water sports, drawing, and traveling.  Bibit (her nickname for Elizabeth) grew up in Pittsburgh, Pennsylvania as the middle of three daughters.  Bibit completed a bachelor’s degree in mechanical engineering at MIT and is currently pursuing a master’s degree at Stanford.  Bibit hopes Henry can impart more of his electrical engineering and computer science knowledge on her as they collaborate on more and more projects.</p>
		<%= link_to "Resume", "Resumes/Bibit_Resume.pdf", class: "btn btn-default", :target => "_blank" %>
		<%= link_to "http://www.linkedin.com/in/ebianchini", class: "btn btn-default", :target => "_blank" do %>
				LinkedIn&nbsp;&nbsp;<i class="fa fa-linkedin-square"></i>
		<% end %> <br> <br>
		<p style="font-size:20px">We hope you enjoy this site!</p>
		<br>
	</div>
	<div class="col col-md-5" style="overflow: hidden">
		<!-- <%=image_tag("me_small.jpg", alt: "me")%> -->
		<%=image_tag("us_small.jpg", alt: "us", width: "100%")%>
	</div>
</div>

