<% provide(:page_title, 'Posts: Bianchini') %>

<div class="page-header">
    <h5 id="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / POSTS <span class="badge bianchini_badge">BIANCHINI</span> </h5>
</div>

<p class="notice"><%= notice %></p>

<% is_admin = (user_signed_in? and current_user.admin) %>

<% if is_admin %>
  <h1>Administration</h1>
    
    <%= render partial: "posts/posts_table_small", locals: {posts: @posts} %>

    <h1>Posts</h1>

    <%= link_to 'ALL', posts_path, class: "btn btn-default badge inactive_badge" %>
    <%= link_to 'BIANCHINI', bianchini_posts_path, class: "btn btn-default badge bianchini_badge" %>
    <%= link_to 'LOVE', love_posts_path, class: "btn btn-default badge inactive_love_badge" %>
    <%= link_to 'BIANCHINI-LOVE', bianchini_love_posts_path, class: "btn btn-default badge inactive_bianchini_love_badge" %>
    <br> <br>

    <%= render partial: "posts/posts_table_large", locals: {posts: @posts} %>

<% end %>

<% if is_admin %>
  <h1>All posts - display</h1>
<% else %>
  <h1>Posts</h1>

    <%= link_to 'ALL', posts_path, class: "btn btn-default badge inactive_badge" %>
    <%= link_to 'BIANCHINI', bianchini_posts_path, class: "btn btn-default badge bianchini_badge" %>
    <%= link_to 'LOVE', love_posts_path, class: "btn btn-default badge inactive_love_badge" %>
    <%= link_to 'BIANCHINI-LOVE', bianchini_love_posts_path, class: "btn btn-default badge inactive_bianchini_love_badge" %>
    <br> <br>

<% end %>

<%= render partial: "posts/display_posts", locals: {posts: @posts} %>