<% provide(:page_title, 'Home') %>

<div class="page-header">
    <h4><!--H.LOVE--> BIANCHINI-LOVE ENGINEERING <small>ELECTRICAL AND MECHANICAL DESIGN</small></h4>
</div>

<p class="notice"><%= notice %></p>

<% if @posts.count(:id) >= 4 %>
	<div id="NavDots" class="hidden-xs hidden-sm hidden-md">
	    <input type="radio" id="button1" name="slides" value="1" checked/>
	    <label for="button1"></label>
	    <input type="radio" id="button2" name="slides" value="2"/>
	    <label for="button2"></label>
	    <input type="radio" id="button3" name="slides" value="3"/>
	    <label for="button3"></label>
	    <input type="radio" id="button4" name="slides" value="4"/>
	    <label for="button4"></label>
	    <div id="Arrows">
	        <span class="prev glyphicon glyphicon-chevron-left"></span>
	        <span class="next glyphicon glyphicon-chevron-right"></span>
	    </div>
	</div>
	    
	<div id="slider" class="box hidden-xs hidden-sm hidden-md">
	    <!--<a id="sliderOverlayLink" href="artwork.html">-->
	        <!--<div class="sliderOverlay"></div>-->
	    <!--</a>-->
	    <ul class="slides">
	    	<!-- ACTIVE RECORD UPDATE: 11/25/18 -->
	        <!-- <li id="slide1" class="slide">  image_tag @posts[0].image.url(:large) </li>
	        <li id="slide3" class="slide">  image_tag @posts[1].image.url(:large) </li>
	        <li id="slide2" class="slide">  image_tag @posts[2].image.url(:large) </li>
	        <li id="slide4" class="slide">  image_tag @posts[3].image.url(:large) </li>
	        <li id="slideFinal" class="slide">  image_tag @posts[0].image.url(:large) </li> -->

	        <li id="slide1" class="slide"> <%= image_tag @posts[0].image.variant(resize: "825x200") %> </li>
	        <li id="slide3" class="slide"> <%= image_tag @posts[1].image.variant(resize: "825x200") %> </li>
	        <li id="slide2" class="slide"> <%= image_tag @posts[2].image.variant(resize: "825x200") %> </li>
	        <li id="slide4" class="slide"> <%= image_tag @posts[3].image.variant(resize: "825x200") %> </li>
	        <li id="slideFinal" class="slide"> <%= image_tag @posts[0].image.variant(resize: "825x200") %> </li>
	    </ul>
	</div>

	<div class="summary summary1 hidden-xs hidden-sm hidden-md">
	    <p class="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / POSTS</p>&nbsp;&nbsp;&nbsp;&nbsp;<p class="date"> <%= @posts[0].date %>&nbsp;&nbsp;
	    	<%= render partial: "posts/badge", locals: {post: @posts[0]} %></p>
	    <h1> <%= @posts[0].title %> </h1>
	    <p class="summaryText"> <%= @posts[0].description %> </p>
	</div>
	
	<div class="summary summary2 hidden-xs hidden-sm hidden-md">
	    <p class="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / POSTS</p>&nbsp;&nbsp;&nbsp;&nbsp;<p class="date"> <%= @posts[1].date %>&nbsp;&nbsp;
	    	<%= render partial: "posts/badge", locals: {post: @posts[1]} %></p>
	    <h1> <%= @posts[1].title %> </h1>
	    <p class="summaryText"> <%= @posts[1].description %> </p>
	</div>
	
	<div class="summary summary3 hidden-xs hidden-sm hidden-md">
	    <p class="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / POSTS</p>&nbsp;&nbsp;&nbsp;&nbsp;<p class="date"> <%= @posts[2].date %>&nbsp;&nbsp;
	    	<%= render partial: "posts/badge", locals: {post: @posts[2]} %></p>
	    <h1> <%= @posts[2].title %> </h1>
	    <p class="summaryText"> <%= @posts[2].description %> </p>
	</div>
	
	<div class="summary summary4 hidden-xs hidden-sm hidden-md">
	    <p class="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / POSTS</p>&nbsp;&nbsp;&nbsp;&nbsp;<p class="date"> <%= @posts[3].date %>&nbsp;&nbsp;
	    	<%= render partial: "posts/badge", locals: {post: @posts[3]} %></p>
	    <h1> <%= @posts[3].title %> </h1>
	    <p class="summaryText"> <%= @posts[3].description %> </p>
	</div>
	
<% else %>
	<div class="temp_home hidden-xs hidden-sm hidden-md">Coming Soon!</div>
<% end %>

<div id="main">
    <p>Welcome to Bianchini-Love Engineering (BLE), the website of Bibit Bianchini and Henry Love!  On this website, you will find both of our portfolios, including projects we’ve each done separately (labeled as <span class="love_badge badge">LOVE</span> and <span class="bianchini_badge badge">BIANCHINI</span>) as well as our collaborations (labeled as <span class="bianchini_love_badge badge">BIANCHINI-LOVE</span>).  While most of the projects here relate to our specific training in electrical (Henry) and mechanical (Bibit) engineering, we document other kinds of projects here too, such as music, art, and this website itself.  We continually update this site with new content and features, so be sure to check often for updates!  For more information about the creators, please visit the <%= link_to 'About', about_path %> page.</p>    
</div>

<% if @posts.count(:id) >= 4 %>
	<h1>Featured:</h1>
	<br>
	<div>
	    <div class="row">
	    	<div class="col col-sm-6">
	    		<%= render partial: "layouts/media", locals: {post: @posts[0]} %>
	    	</div>
	    	<div class="col col-sm-6">
	        	<%= render partial: "layouts/media", locals: {post: @posts[1]} %>
	        </div>
	    </div>

	    <div class="row">
	    	<div class="col col-sm-6">
	        	<%= render partial: "layouts/media", locals: {post: @posts[2]} %>
	        </div>
			<div class="col col-sm-6">
	        	<%= render partial: "layouts/media", locals: {post: @posts[3]} %>
	        </div>
	    </div>
	</div>
<% end %>

<div class="col col-md-7" style="font-size:20px">
	<p>For more projects, see our <a href="posts.html">Posts</a> page!</p>
</div>

<script>
	home();
</script>