<% provide(:page_title, @post.title) %>

<div class="page-header">
  <h5 id="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / POSTS / <%= @post.title.upcase %> </h5>
</div>

<p class="notice"><%= notice %></p>

<div>
	<% if @post.image.attached? %>
    	<%= image_tag @post.image.variant(combine_options: { gravity: 'Center', crop: '825x100+0+0' }), :class => "title-banner hidden-md hidden-sm hidden-xs" %>
	<% else %>
    	<%=image_tag("/images/banner/small/missing_height_100.png", :class => "title-banner hidden-md hidden-sm hidden-xs") %>
	<% end %>
  	<h1 id="title"> <%= @post.title %> </h1>
  	<h5 id="date"> <%= @post.date %>&nbsp;&nbsp;<%= render partial: "posts/badge", locals: {post: @post} %></h5>
</div>

<!-- NEW ACTIVE STORAGE UPLOADS -->
<% if @post.uploads.attached? %>
	<div>
	    <h3> <i class="fa fa-download" aria-hidden="true"></i> Project Documents </h3>
	    <% @post.uploads.each do |upload| %>
	    	<div style="display:inline-block;margin-bottom: 3px;">
	    		<% if @post.upload_type(upload) == "audio" %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% elsif @post.upload_type(upload) == "zip" %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-file-archive-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% elsif @post.upload_type(upload) == "pdf" %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% elsif @post.upload_type(upload) == "code" %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-code" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% elsif @post.upload_type(upload) == "3d" %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-cube" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% elsif @post.upload_type(upload) == "gcode" %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% elsif @post.upload_type(upload) == "laser" %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-object-ungroup" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% else %>
	    			<%= link_to url_for(upload), :target => "_blank", class: "btn btn-default" do %>
						<i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= upload.filename %>
					<% end %>
				<% end %>
	        </div>
		<% end %>
	</div>
	<br>
<% end %>

<div>
  <p id="overview"> <%= @post.description %> </p>
</div>

<div>
  <p> <%= @post.body.html_safe %> </p>
</div>

<% if user_signed_in? and current_user.admin %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %> 
<% end %>
<%= link_to 'Back', posts_path, class: "btn btn-default" %>