<!-- render footer -->
<footer>
    <div class="container">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <%= link_to root_path do %> 
		            	<span class="glyphicon glyphicon-home navbar-brand">
		            <% end %>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><%= link_to "Home", root_path %></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                            <li> <%= link_to 'Log out', destroy_user_session_path, method: :delete %> </li>
                        <% else %>
                            <!--add sign up here when :registable-->
                            <li> <%= link_to 'Log in', new_user_session_path %> </li>
                        <% end %>
                        
                    </ul>


                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <br>

        <div>
            <table>
              <tr>
                <th>&copy 2019</th>
                <th><%= image_tag("bianchini_love_logo_red.png", height: '15', alt: "Bianchini Love Engineering Logo", :style => "margin-right:30px, display:inline") %> V4.1</th> 
              </tr>
              <tr>
                <td>Henry Love</td>
                <td>hlove@mit.edu</td>
              </tr>
              <tr>
                <td>Bibit Bianchini</td>
                <td>bibit@stanford.edu</td>
              </tr>
            </table>

            <!--<p>&copy 2018 Henry Love<span class="hidden-xs">&nbsp;&nbsp;|&nbsp;&nbsp;hlove@mit.edu&nbsp;&nbsp;|&nbsp;&nbsp;V3.1</span></p> 
            <p class="visible-xs"> <br>hlove@mit.edu</p>-->
        </div>
    </div>
</footer>
<!-- end render footer -->