<!-- render header -->
<div id="headerOverlay"></div>

<!-- Bianchini-Love Engineering code header: -->
<!-- <div id="redLine">
    <div class="container">
    	<p class="code-logo hidden-xs">
	    	<%= link_to root_path do %>
					<%= image_tag("bianchini_love_logo_red.png", height: '50', alt: "Bianchini Love Engineering Logo", :style => "margin-right:10px")%>>>> <span style="color:#a6e22e">bianchini_love</span>(<span style="color:#fd9720">engineering</span>)
			<% end %>
		</p>
    </div>
</div> -->

<!-- Bianchini-Love Engineering header: -->
<div id="redLine">
    <div class="container">
    	<p class="new-logo hidden-md hidden-sm hidden-xs">
	    	<%= link_to root_path do %>
					<%= image_tag("bianchini_love_logo_red.png", height: '80', alt: "Bianchini Love Engineering Logo", :style => "margin-right:30px")%>bianchini-love engineering
			<% end %>
		</p>
		<p class="new-logo visible-md visible-sm">
	    	<%= link_to root_path do %>
					<%= image_tag("bianchini_love_logo_red.png", height: '80', alt: "Bianchini Love Engineering Logo", :style => "margin-right:30px")%>bianchini-love
			<% end %>
		</p>
		<p class="new-logo visible-xs">
	    	<%= link_to root_path do %>
					<%= image_tag("bianchini_love_logo_red.png", height: '80', alt: "Bianchini Love Engineering Logo", :style => "margin-right:30px")%>ble
			<% end %>
		</p>
    </div>
</div>

<!-- Bianchini-Love Engineering header: -->
<!-- <div id="redLine">
    <div class="container">
        <p class="logo hidden-xs"><%= link_to image_tag("bianchini_love_engineering2.png", height: '130', alt: "Bianchini Love Engineering Logo"), root_path %></p>
        <p class="logo-small visible-xs"><%= link_to image_tag("bianchini_love.png", width: '280', alt: "Bianchini Love Engineering Logo"), root_path %></p>
    </div>
</div> -->


<!-- Old H.Love Engineering header:
<div id="redLine">
    <div class="container">
        <p class="logo hidden-xs"><%= link_to "h.love", root_path %><span class="subscript hidden-sm hidden-xs">Engineering</span></p>
        <p class="logo-small visible-xs"><%= link_to "h.love", root_path %></p>
    </div>
</div>-->
<!-- end render header -->