<!-- render header -->
<div id="headerOverlay"></div>

<!-- Bianchini-Love Engineering code header: -->
<!-- <div id="redLine">
    <div class="container">
    	<p class="code-logo hidden-xs">
	    	<%= link_to root_path do %>
					<%= image_tag("bianchini_love_logo_red.png", height: '50', alt: "Bianchini Love Engineering Logo", :style => "margin-right:10px")%>>>> <span style="color:#a6e22e">bianchini_love</span>(<span style="color:#fd9720">engineering</span>)
			<% end %>
		</p>
    </div>
</div> -->

<!-- Bianchini-Love Engineering header: -->
<div class="redLine">
    <div class="container">
    	<p class="new-logo hidden-md hidden-sm hidden-xs">
	    	<%= link_to root_path do %>
					<img src="https://previews.dropbox.com/p/thumb/AAYg84O2pFy7Ml_lg4vOozlYhBtc6Gtds0Zmp153Ky6caPotK_hEcr_hgHRJqL89KuaxddgSI40m-3VD87-Mzuu62tuq3Zr1PlyPCW-LZZNt6_yRZpmRquVAkjpQEJPtUn6wCinVXZpcJEv8uLIog41xtRNyCttcsXomsJVdn5TXr_37st904p-jR17v66s1uSPic5Lvcnvubv0F50KRKyQVzzcL6tMCrQDrai9_Xy9MhH28pLLxnS5lGFY6-RNKTNSTeXkFFfbi2GRAoRfoltbtcHaTny-5MbPw0ZyVcwqXgSJdv2Qs5dic3tt0QIZ8PUVQmwbF-NXfac-pd6m8WqQh/p.png?size_mode=5" alt="Bianchini Love Engineering Logo" height="50">
					<span style="color: #F4C46F;">B</span><span style="color: #E07572;">L</span><span style="color: #BFD7D9;">E</span>

					<svg height="210" width="500" style="position: absolute">
					  <line x1="0" y1="24.5" x2="200" y2="24.5" style="stroke:#F4C46F;stroke-width:9.5"></line>
					</svg>

					<svg height="210" width="500" style="position: absolute">
					  <line x1="0" y1="38" x2="200" y2="38" style="stroke:#E07572;stroke-width:9.5"></line>
					</svg>

					<svg height="210" width="500" style="position: absolute">
					  <line x1="0" y1="51.5" x2="200" y2="51.5" style="stroke:#BFD7D9;stroke-width:9.5"></line>
					</svg>
			<% end %>
		</p>
		<p class="new-logo visible-md visible-sm">
	    	<%= link_to root_path do %>
					<%= image_tag("bianchini_love_logo_red2.png", height: '60', alt: "Bianchini Love Engineering Logo", :style => "margin-right:30px")%>bianchini-love
			<% end %>
		</p>
		<p class="new-logo visible-xs">
	    	<%= link_to root_path do %>
					<%= image_tag("bianchini_love_logo_red2.png", height: '60', alt: "Bianchini Love Engineering Logo", :style => "margin-right:30px")%>ble
			<% end %>
		</p>
    </div>
</div>

<!-- Bianchini-Love Engineering header: -->
<!-- <div id="redLine">
    <div class="container">
        <p class="logo hidden-xs"><%= link_to image_tag("bianchini_love_engineering2.png", height: '130', alt: "Bianchini Love Engineering Logo"), root_path %></p>
        <p class="logo-small visible-xs"><%= link_to image_tag("bianchini_love.png", width: '280', alt: "Bianchini Love Engineering Logo"), root_path %></p>
    </div>
</div> -->


<!-- Old H.Love Engineering header:
<div id="redLine">
    <div class="container">
        <p class="logo hidden-xs"><%= link_to "h.love", root_path %><span class="subscript hidden-sm hidden-xs">Engineering</span></p>
        <p class="logo-small visible-xs"><%= link_to "h.love", root_path %></p>
    </div>
</div>-->
<!-- end render header -->