<div class="media">
  <div class="media-left">
    <a href="#">
      <%= image_tag post.thumbnail.url(:large), :class => "media-object" %>
      <p>
        <% if post.owner == "Love" %>
            <span class="love badge">
        <% elsif post.owner == "Bianchini" %>
            <span class="bianchini badge">
        <% else %>
            <span class="bianchini-love badge">
        <% end %>
        <%= post.owner %> </span>
      </p>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <%= link_to post.title, post_path(post) %> </h4>
    <% if post.published %>
      <p class="published"> Updated: <%= post.updated_at.strftime("%b %d, %Y") %> </p>
    <% else %>
      <p class="unpublished"> NOT PUBLISHED </p>
    <% end %>
    <p> <%= post.description %> </p>
  </div>
</div>