<!-- render sidebar -->
<div class="sidebar col col-sm-3">
    <h4>Menu</h4>
    <div class="list-group">
    	<%= link_to "Home", root_path, class: "list-group-item" %>
        <%= link_to "Posts", posts_path, class: "list-group-item" %>
    </div>
    <h4 style="border-bottom: 1px solid #bbb">Recent</h4>
        <!-- LINE BELOW IS SLOW!!! (to test, uncomment line, and embrace in "<% %>") -->
        <!-- @post = Post.all.published.order(:published_at).last -->
        <!-- FAST! Line below replaces line above and is much faster! See post model -->
        <% @post = Post.minimal_view.published.order('published_at DESC').first %>
        <% if @post == nil or @post.published_at == nil %>
            <div class="temp_sidebar">Coming Soon!</div>
        <% else %>
            <!-- render media; unique responsiveness, so render is not used -->
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <%= image_tag @post.thumbnail.url(:large), :class => "media-object" %>
                        <p>
                            <%= render partial: "posts/badge", locals: {post: @post} %>
                        </p>
                    </a>
                </div>
                <div class="media-body hidden-md hidden-sm">
                    <h4 class="media-heading"> <%= link_to @post.title, post_path(@post) %> </h4>
                    <p class="published"> Updated: <%= @post.updated_at.strftime("%b %d, %Y") %> </p>
                    <p> <%= @post.description %> </p>
                </div>
                <div class="media-body visible-md visible-sm">
                    <h4 class="media-heading"> <%= link_to @post.title, post_path(@post) %> </h4>
                    <p class="published"> Updated: <%= @post.updated_at.strftime("%b %d, %Y") %> </p>
                    <p> <%= @post.description %> </p>
                </div>
            </div>

        <% end %>

    <!-- LINE BELOW IS SLOW!!! (to test, uncomment line, and embrace in "<% %>") -->
    <!-- if Post.published.length != 0 -->
    <!-- FAST! Line below replaces line above and is much faster! -->
    <% if Post.select("id").published.count("id") != 0 %>
        <h4>Archives</h4>
        <div id="sidebar" class="list-group">
            <!-- LINE BELOW IS SLOW!!! (to test, uncomment line, and embrace in "<% %>") -->
            <!-- @published_posts = Post.published -->
            <!-- FAST! Line below replaces line above and is much faster! -->
            <% @published_posts =  Post.select("id", "title", "date").published %>
            <% years = Hash.new(0) %>
            <% dates = Hash.new(0) %>
            <% month_lookup = {
                "January" => 1, 
                "February" => 2, 
                "March" => 3, 
                "April" => 4,
                "May" => 5,
                "June" => 6,
                "July" => 7,
                "August" => 8,
                "September" => 9,
                "October" => 10,
                "November" => 11,
                "December" => 12,}
            %>
            <% @published_posts.each do |post| %>
                <% post_year = post.date.split(" ")[1] %>
                <% if years[post_year] == 0 %>
                    <% years[post_year] = 1 %>
                <% else %>
                    <% years[post_year] += 1 %>
                <% end %>

                <!-- Date: [amount, month order] -->
                <% post_month = post.date.split(" ")[0] %>
                <% if dates[post.date] == 0 %>
                    <% dates[post.date] = [1, month_lookup[post_month]]  %>
                <% else %>
                    <% dates[post.date][0] += 1 %>
                <% end %>
            <% end %>

            <% years = years.sort_by { |year, number| year }.reverse %>
            <% dates = dates.sort_by { |date, stats| stats[1] } %>
            <% years.each do |year, number| %>
                <a class="list-group-item dropdown-parent"><%= year %> <span class="badge"> <%= number %> </span></a>
                    <div class="dropdown-container">
                        <% dates.each do |date, stats| %>
                            <% if date.split(" ")[1] == year %>
                                <% month = date.split(" ")[0] %>
                                <a class="list-group-item dropdown-parent dropdown-element" ><%= month %> <span class="badge"> <%= stats[0] %> </span></a>
                                    <div class="dropdown-container">
                                        <% @published_posts.each do |post| %>
                                            <% if post.date == date %>
                                                <%= link_to post.title, post_path(post.id), class: "list-group-item sub-dropdown-element" %>
                                            <% end %>
                                        <% end %>
                                    </div>
                            <% end %>
                        <% end %>
                    </div>
            <% end %>
        </div>
    <% end %>

    <!-- Example Dropdown
    <div id="sidebar" class="list-group">
        <a class="list-group-item dropdown-parent"> Year <span class="badge"> 8 </span></a>
            <div class="dropdown-container">
                <a class="list-group-item dropdown-parent dropdown-element" > Month <span class="badge"> 4 </span></a>
                    <div class="dropdown-container">
                        <a class="list-group-item sub-dropdown-element" > Project1 </a>
                        <a class="list-group-item sub-dropdown-element" > Project2 </a>
                        <a class="list-group-item sub-dropdown-element" > Project3 </a>
                    </div>

                <a class="list-group-item dropdown-parent dropdown-element" > Month2 <span class="badge"> 4 </span></a>
                    <div class="dropdown-container">
                        <a class="list-group-item sub-dropdown-element" > Project1 </a>
                        <a class="list-group-item sub-dropdown-element" > Project2 </a>
                        <a class="list-group-item sub-dropdown-element" > Project3 </a>
                    </div>
            </div>
    </div> -->

    <h4>Follow</h4>
    <div id="sidebar" class="list-group">
        <a href="https://www.youtube.com/channel/UCgXUs7P5h07Ve3Ah-s76jWQ" class="list-group-item">Youtube&nbsp;&nbsp;<i class="fa fa-youtube"></i></a>
        <a href="https://github.com/hlove18" class="list-group-item">GitHub&nbsp;&nbsp;<i class="fa fa-github"></i></a>
    </div>
</div>
<!-- end render sidebar -->