<!DOCTYPE html>
<html>
  	<head>
  		<title>BLE | <%= yield(:page_title) %> <%#--hlove Engineering%> </title>
    	<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>

    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300italic' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Open+Sans" rel="stylesheet">

		<!-- Prism.js 
		<link href="themes/prism.css" rel="stylesheet" />
		<script src="prism.js"></script> -->

		<!--Font awesome icons-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- TinyMCE -->
    	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    	<!-- Render Favicon -->
    	<%= render 'application/favicon' %>

    	<!-- Bootstrap mobile first -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

  	<body>
  		<!-- Header -->
  		<%= render 'layouts/header' %>
		<div class="container">
			<!-- Navbar -->
			<%= render 'layouts/navbar' %>
			<!-- Sidebar -->
			<div class="sidebar col col-sm-3 visible-xs">
				<h4>Menu</h4>
			    <div class="list-group">
			    	<%= link_to "Home", root_path, class: "list-group-item" %>
			        <%= link_to "Posts", posts_path, class: "list-group-item" %>
			    </div>
			</div>
			<div class="visible-sm visible-md visible-lg visible-xl">
	        	<%= render 'layouts/sidebar' %>
	        </div>
			<div id="content" class="col col-sm-9 <%= controller_name %> <%= action_name %>">
	            <%= yield %>
	        </div>
	        <div class="visible-xs">
	        	<%= render 'layouts/sidebar' %>
	        </div>
			
	    </div>
	    <!-- Footer -->
	    <%= render 'layouts/footer' %>

	</body>
</html>